html{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background-image: url('/app/images/bg-desktop.svg');
    background-size: 80%;
    background-repeat: no-repeat ;
    background-color: $Violet; 
}

.header{
    padding: 5rem 5rem;
    &__logo{
        width: 24rem;
    }
}